*{
    background: #232830;
}
.title{
    color: #FF7575;
    font-family: 'Recursive';
    font-style: italic;
    font-size: 61px;
    text-align: center;
    margin-top: 40px;
}
.quote{
    color: white;
    font-family: 'Poppins';
    font-size: 19px;
    text-align: center;
}
.header{
    color: white;
    font-family: 'Poppins';
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.right-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.category-listing{
    margin-top: 40px;
    margin-left: 150px;
    color: #909090;
    font-family: 'Recursive';
    font-style: italic;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
